body {background-color:  #000000;}

.banner {
	background-color: #550000;
	color: #ffffff;
	padding: 20px;
}

#body {
	background-color: #223344;	
}

#menu {
	padding-top: 20px;
}

#footer {
	
}

#submitButton {
	margin-top: 25px;
}

.say {
	border: 1px solid black;
	background-color: #224444;	
	margin: 10px 10px 10px 0px;
	padding: 13px;
	color: #ffffff;
}